@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  button {
    font-family: "IBM Plex Mono", monospace;
  }

  h3 {
    font-family: "IBM Plex Mono", monospace;
  }

  p {
    font-family: "Source Code Pro", monospace;
  }
}
